<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    

  <meta http-equiv="pragma" content="no-cache"/>

  <link crossorigin="anonymous" href="../static/css/main_1.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_2.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_3.css" media="all" rel="stylesheet">
  <link rel="icon" href="static/img/Glutton.ico" type="image/x-icon"/>  

  <meta name="viewport" content="width=device-width">
  
  <title>Welcome to Glutton</title>

</head>

<body class="logged-out env-production emoji-size-boost page-responsive min-width-0 f4 site-header-dark">


  <div class="position-relative js-header-wrapper ">
    <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress"></div></div>

    
    
    



          <header class="site-header js-details-container Details" role="banner" >
  <div class="container-responsive">
    <a class="header-logo-invertocat" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
          <img src="../static/img/Glutton.png" aria-hidden="true" class="octicon" height="35" version="1.1" viewBox="0 0 16 16" width="35" position-relative="-50px -100px"/>

    </a>

    <div class="site-header-menu">
    
      <nav class="site-header-nav">
        <a href="#" id="navi" class="js-selected-navigation-item selected nav-item" data-ga-click="Header, click, Nav menu - item:features" data-selected-links="/features /features">Customer</a>        
        <a name="Business" href="#" id="navi" class="js-selected-navigation-item nav-item" data-ga-click="Header, click, Nav menu - item:business" data-selected-links="/business /business/security /business/customers /business">Business</a>        
        <a href="#" id="navi" class="js-selected-navigation-item nav-item" data-ga-click="Header, click, Nav menu - item:explore" data-selected-links="/explore /trending /trending/developers /integrations /integrations/feature/code /integrations/feature/collaborate /integrations/feature/ship /showcases /explore">Home Page</a>        
        <a href="#" id="navi" class="js-selected-navigation-item nav-item" data-ga-click="Header, click, Nav menu - item:pricing" data-selected-links="/pricing /pricing">My Order</a>
      </nav>

      <div class="site-header-actions">

          <a class="text-bold site-header-link" href="signin" data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">Sign in</a>
            <span class="text-gray">or</span>
            <a class="text-bold site-header-link" href="signup" data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">Sign up</a>
      </div>
    </div>
  </div>
</header>



  </div>

  <div id="start-of-content" class="accessibility-aid"></div>

    <div id="js-flash-container">
</div>



  <div role="main">
        
<div class="jumbotron" style="background-image: url(../static/img/background9.jpeg);background-repeat: no-repeat;background-size: 100% 110%;">
  <div class="container-responsive text-center text-white pb-5" ><br/><br/>
    <h1 id="main_title" class="alt-h1 lh-condensed mb-3" style="color: #2C3E50"><strong>Welcome to Glutton!</strong></h1>
    <p class="alt-lead mb-6 col-md-8 mx-auto" style="color: #222">
      Glutton is a website designed for those who can't stop eating, you can search your favorite food in Zhangjiang.
    </p>

    <!-- 4270cf -->

    <div class="d-sm-flex col-10 col-sm-12 col-lg-8 mx-auto">
      <div class="col-sm-6 pr-sm-2 pr-md-3 pl-md-5 mb-4 mb-sm-0">

          <div class="rounded-2 box-shadow-medium">
            <a id="jump_to_signin" href="signin" class="btn btn-large btn-blurple btn-block f3 mx-auto border-0">Sign in</a>
          </div>


      </div>
          <div class="rounded-2 box-shadow-medium">
            <a id="jump_to_signup" href="signup" style="width: 279px" class="btn btn-large btn-block btn-purple f3 mx-auto border-0" class="btn btn-large btn-blurple btn-block f3 mx-auto border-0">Sign up</a>
          </div>

      </div>
    </div>
      <!-- start footer -->
      <br/><br/><br/><br/>
<div class="container site-footer-container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
      <li>© <span> Copyright:</span></li>
        <li><a href="Mailto:14300240007@fudan.edu.cn" data-ga-click="Footer, go to terms, text:terms">Tianxiao Hu</a></li>
        <li><a href="Mailto:14300240009@fudan.edu.cn" data-ga-click="Footer, go to privacy, text:privacy">Haohan Zhang</a></li>
        <li><a href="Mailto:15307130385@fudan.edu.cn" data-ga-click="Footer, go to security, text:security">Jingyuan Liu</a></li>
      <span >  Group: Glutton;</span></li> Course Project #1 for Introduction to Database Systems(COMP130010.03)@ Fudan University, 2017 Spring. <span >Professor:</span></li>
      <li><a href="http://www.cs.fudan.edu.cn/?page_id=2439###" data-ga-click="Footer, go to status, text:status">Wei Wang</a>;</li>  
    </ul>
  </div>
</div>
<!-- end footer -->
  </div>

</div>




    
  
  <div class="facebox" id="facebox" style="display:none;">
  <div class="facebox-popup">
    <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
    </div>
    <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
  </div>
</div>


  


</body></html>
<link crossorigin="anonymous" href="../static/css/sweetalert.css" media="all" rel="stylesheet">
<script src="../static/js/sweetalert.min.js"></script> 

<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/front_page.js"></script>
