<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    

  <meta http-equiv="pragma" content="no-cache"/>

  <link crossorigin="anonymous" href="../static/css/main_1.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_2.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_3.css" media="all" rel="stylesheet">
  <link rel="icon" href="static/img/Glutton.ico" type="image/x-icon"/>  

  <meta name="viewport" content="width=device-width">
  
  <title>Welcome to Glutton!</title>

  



  <meta name="viewport" content="width=device-width">


</head>


  <body class="logged-out env-production emoji-size-boost page-responsive min-width-0 f4 site-header-dark">
    


  <div class="position-relative js-header-wrapper">
    <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress"></div></div>

    
    
    

<!-- #ffa500 orange-->
<!-- #27ae60 green -->

<div class="header" role="banner" style="background-color: #3498db">
  <div class="container clearfix">
    <a class="header-logo-invertocat" href="#" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
          <img src="../static/img/Glutton.png" aria-hidden="true" class="octicon" height="35" version="1.1" viewBox="0 0 16 16" width="35" position-relative="-50px -100px"/>
</a>


        


      <ul class="header-nav float-left" role="navigation">
        <li class="header-nav-item selected">
          <a id="navi_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" style="color: #222">
            Home
</a>        </li>
        <li class="header-nav-item">
          <a id="navi_my_profile" aria-label="Issues you created" class="js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:issues context:user" data-hotkey="g i" data-selected-links="/issues /issues/assigned /issues/mentioned /issues">
            Profile
</a>        </li>
          <li class="header-nav-item">
            <a class="header-nav-link" id="navi_my_dishes" data-ga-click="Header, go to gist, text:gist">Dishes</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" id="navi_my_orders" data-ga-click="Header, go to gist, text:gist">Orders</a>
          </li>
      </ul>

    

<ul class="header-nav user-nav float-right" id="user-links">
<il>

<div class="header-search   js-site-search" role="search">
  <div accept-charset="UTF-8" class="js-site-search-form" data-unscoped-search-url="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <label class="form-control header-search-wrapper js-chromeless-input-container">
      <input  type="text" id="search_block_in_search_results" class="form-control header-search-input js-site-search-focus " name="q_navi" value="" placeholder="Search Glutton" aria-label="Search Glutton" data-unscoped-placeholder="Search Glutton" data-scoped-placeholder="Search" autocapitalize="off">
    </label>
</div></div>
</il>
<li class="header-nav-item selected">
          <a id="navi_search_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Search
</a>        </li>
        <li class="header-nav-item selected">
          <a href="front_page" id="navi_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Sign Out
</a>        </li>
</ul>

</div>
</div>


      

  </div>

  <div id="start-of-content" class="accessibility-aid"></div>

    <div id="js-flash-container">
</div>



  <div role="main">

      <div id="js-pjax-container" data-pjax-container="">
        


<div class="container-lg clearfix px-3 mt-4">
  <div class="col-3 float-left pr-3" itemscope="" itemtype="http://schema.org/Person">


      <div class="vcard-avatar d-block tooltipped-s"><img class="avatar width-full rounded-2" height="230" src="../static/img/avatars/owner_avatar.jpg" width="230"></div>

      
<div class="vcard-names-container py-3 js-user-profile-sticky-fields is-placeholder" style="visibility: hidden; display: none; height: 56px;"></div>

<div class="vcard-names-container py-3 js-sticky js-user-profile-sticky-fields " style="position: static;">

  <h1 class="vcard-names">
    <!-- <span class="vcard-fullname d-block" itemprop="name"></span> -->
    <span class="vcard-username d-block" id="picture_nickname" itemprop="additionalName">hhhhhh</span>
  </h1>
</div>

  <p class="mb-3"><a href="#">地址：<span id="USER_ID"></span></a></p>

      <a id="jump_to_profile" class="btn btn-block mb-3">Edit profile</a>



  </div>

  <div class="col-9 float-left pl-2">






<h2 class="text-normal">
    <svg aria-hidden="true" class="octicon octicon-search" height="24" version="1.1" viewBox="0 0 16 16" width="24"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"/></svg>
      Search for your favorite food or restaurant！
</h2>

<!-- here is search -->

<div accept-charset="UTF-8" class="my-3"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
      <div class="TableObject search-form-fluid">
        <div class="TableObject-item TableObject-item--primary">
          <input accept-charset="UTF-8" class="form-control input-block" type="text" data-hotkey="s" name="q" placeholder="Search for food or restaurant！" aria-label="Search Glutton" tabindex="1" autocapitalize="off" autofocus autocomplete="off" spellcheck="false" id="main_search_input">
          <input type="hidden" name="ref" value="simplesearch">
        </div>
        <div class="TableObject-item">
          <button class="btn" type="submit" tabindex="3" id="search_home_page">Search</button>
        </div>
      </div>
</div>





   

    <div class="js-repo-filter position-relative">
        




          <h3 class="other-content-title">Have a look at your dishes</h3>
          <div data-pjax="">



<div id="owner_dishes">
<br/>
<p>You have no dishes, add some!</p>

</div>











</div>

      </div>
    </div>
  </div>
</div>








</div>

  
<div class="js-contribution-graph">
      <div class="contributions-setting float-right select-menu select-menu-modal-right js-menu-container js-select-menu">


  <div class="select-menu-modal-holder js-menu-content js-navigation-container">
    <div class="select-menu-modal">


      <div class="select-menu-list">
      </div>
    </div>
  </div>
</div>


</div>








  </div>
</div>

  </div>

</div>

  <div id="pinned-repos-modal-wrapper"></div>

    </div>
  </div>
</div>

      </div>
      <div class="modal-backdrop js-touch-events"></div>
  </div>
<!-- start footer -->
<div class="container site-footer-container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
      <li>© <span> Copyright:</span></li>
        <li><a href="Mailto:14300240007@fudan.edu.cn" data-ga-click="Footer, go to terms, text:terms">Tianxiao Hu</a></li>
        <li><a href="Mailto:14300240009@fudan.edu.cn" data-ga-click="Footer, go to privacy, text:privacy">Haohan Zhang</a></li>
        <li><a href="Mailto:15307130385@fudan.edu.cn" data-ga-click="Footer, go to security, text:security">Jingyuan Liu</a></li>
      <span>  Group: Glutton;</span></li> Course Project #1 for Introduction to Database Systems(COMP130010.03)@ Fudan University, 2017 Spring. <span>Professor:</span></li>
      <li><a href="http://www.cs.fudan.edu.cn/?page_id=2439###" data-ga-click="Footer, go to status, text:status">Wei Wang</a>;</li>  
    </ul>
  </div>
</div>
<!-- end footer -->



    
    
   
  <div class="facebox" id="facebox" style="display:none;">
  <div class="facebox-popup">
    <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
    </div>
    <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
  </div>
</div>


  








</body></html>
<link crossorigin="anonymous" href="../static/css/sweetalert.css" media="all" rel="stylesheet">
<script src="../static/js/sweetalert.min.js"></script> 

<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/owner_home_page.js"></script>
<!-- <script src="../static/js/signup.js"></script> -->