<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
  <meta http-equiv="pragma" content="no-cache"/>
  <meta content="origin" name="referrer">
  <link crossorigin="anonymous" href="../static/css/main_1.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_2.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_3.css" media="all" rel="stylesheet">
  <title>Sign in to Glutton</title>
  <link rel="icon" href="static/img/Glutton.ico" type="image/x-icon"/>  

</head>

<body class="logged-out env-production emoji-size-boost session-authentication page-responsive min-width-0"  style="height:780px;background-image: url(../static/img/signin.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
    <br/>
    <br/>


  <div class="position-relative js-header-wrapper">


      <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
  <div class="container clearfix width-full">
    <a class="header-logo" href="front_page" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
          <img src="../static/img/Glutton.png" aria-hidden="true" class="octicon" height="65" version="1.1" viewBox="-10 -10 26 26" width="65" position-relative="-50px -100px"/>
    </a>

  </div>
</div>


  </div>

  <div id="start-of-content" class="accessibility-aid"></div>



  <div role="main">

      <div id="js-pjax-container" data-pjax-container="">
        

<div class="auth-form px-3" id="login">

    <!-- '"` --><!-- </textarea></xmp> -->
  <form accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="SVGlwVDUNJa7+eaJH1wD55iLKW/GVwx3lxbf0C06xQGQJWZGLz+YgKeZe5SySX3VIL51iylBs2PpqJXmqVbjcQ=="></div>      <div class="auth-form-header p-0">
        <h1 style="color: #9900CC"><strong>Sign in to Glutton</strong></h1>
      </div>


      <div id="js-flash-container">
</div>


      <div class="auth-form-body mt-3">
      <form enctype="utm">
        <label for="login_field" id="first_label">
          Input your mobile number
        </label>
        <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block" id="login_field" name="login" tabindex="1" type="text">

        <label for="password">
          Input your password <a onclick="swal('hahahahaha:)')">Forgot password?</a>
        </label>
        <input class="form-control form-control input-block" id="password" name="password" tabindex="2" type="password">

        <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" value="Sign in" readonly="true" onclick="signin()">
      </div>
  </form>

      <p class="create-account-callout mt-3">
        New to Glutton?
        <a href="signup" data-ga-click="Sign in, switch to sign up">Sign up</a>.
      </p>
</div>

      </div>
  <div class="modal-backdrop js-touch-events"></div>
  </div>



  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
        <li><a href="front_page" data-ga-click="Footer, go to terms, text:terms">Return to Front Page</a></li>
    </ul>
  </div>



<!-- start footer -->
<div class="container site-footer-container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
      <li>© <span> Copyright:</span></li>
        <li><a href="Mailto:14300240007@fudan.edu.cn" data-ga-click="Footer, go to terms, text:terms">Tianxiao Hu</a></li>
        <li><a href="Mailto:14300240009@fudan.edu.cn" data-ga-click="Footer, go to privacy, text:privacy">Haohan Zhang</a></li>
        <li><a href="Mailto:15307130385@fudan.edu.cn" data-ga-click="Footer, go to security, text:security">Jingyuan Liu</a></li>
      <span>  Group: Glutton;</span></li> Course Project #1 for Introduction to Database Systems(COMP130010.03)@ Fudan University, 2017 Spring. <span>Professor:</span></li>
      <li><a href="http://www.cs.fudan.edu.cn/?page_id=2439###" data-ga-click="Footer, go to status, text:status">Wei Wang</a>;</li>  
    </ul>
  </div>
</div>
<!-- end footer -->


<link crossorigin="anonymous" href="../static/css/sweetalert.css" media="all" rel="stylesheet">
<script src="../static/js/sweetalert.min.js"></script> 

  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/signin.js"></script>




</body>
</html>