<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    

<meta content="origin-when-cross-origin" name="referrer">

  <link crossorigin="anonymous" href="../static/css/main_1.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_2.css" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="../static/css/main_3.css" media="all" rel="stylesheet">
  <link rel="icon" href="static/img/Glutton.ico" type="image/x-icon"/>  
  <title>My Orders</title>
  
  <meta name="pjax-timeout" content="1000">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#1e2327">
  <meta name="u2f-support" content="true">

  </head>
  <link rel="icon" href="static/img/Glutton.ico" type="image/x-icon"/>  

   
<!-- start of header -->
  <body class="logged-out env-production emoji-size-boost page-responsive min-width-0 f4 site-header-dark">
    


  <div class="position-relative js-header-wrapper ">
    <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress" style="transition: width 0.4s ease 0s; width: 100%;"></div></div>


<div class="header" role="banner" style="background-color: #3498db">
  <div class="container clearfix">
    <a class="header-logo-invertocat" href="#" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
          <img src="../static/img/Glutton.png" aria-hidden="true" class="octicon" height="35" version="1.1" viewBox="0 0 16 16" width="35" position-relative="-50px -100px"/>
</a>


        


      <ul class="header-nav float-left" role="navigation">
        <li class="header-nav-item selected">
          <a id="navi_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Home
</a>        </li>
        <li class="header-nav-item">
          <a id="navi_my_profile" aria-label="Issues you created" class="js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:issues context:user" data-hotkey="g i" data-selected-links="/issues /issues/assigned /issues/mentioned /issues">
            Profile
</a>        </li>
          <li class="header-nav-item">
            <a class="header-nav-link" id="navi_my_orders" data-ga-click="Header, go to gist, text:gist" style="color: #222">Orders</a>
          </li>
      </ul>

    

<ul class="header-nav user-nav float-right" id="user-links">
<il>

<div class="header-search   js-site-search" role="search">
  <div accept-charset="UTF-8" class="js-site-search-form" data-unscoped-search-url="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <label class="form-control header-search-wrapper js-chromeless-input-container">
      <input  type="text" id="search_block_in_search_results" class="form-control header-search-input js-site-search-focus " name="q_navi" value="" placeholder="Search Glutton" aria-label="Search Glutton" data-unscoped-placeholder="Search Glutton" data-scoped-placeholder="Search" autocapitalize="off">
    </label>
</div></div>
</il>
<li class="header-nav-item selected">
          <a id="navi_search_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Search
</a>        </li>
        <li class="header-nav-item selected">
          <a href="front_page" id="navi_home_page" aria-label="Pull requests you created" class="selected  js-selected-navigation-item header-nav-link" data-ga-click="Header, click, Nav menu - item:pulls context:user" data-hotkey="g p" data-selected-links="/pulls /pulls/assigned /pulls/mentioned /pulls" >
            Sign Out
</a>        </li>
</ul>


 </div>
</div>


      

  </div>


  <!-- end of header -->





  <div role="main">
        
<div class="featurette featurette-single bg-shade-gradient bg-pricing">
  <div class="container-responsive">
    <div class="Details js-details-container Details currency-container">
      <h1 class="featurette-heading alt-h1 text-center">See how much you've eaten!</h1>

      <div class="featurette-lead featurette-lead-center mb-6">
        <p class="alt-lead text-center text-gray mb-6 mx-auto">But don't be afraid, the winter wouln't be far behind since the summer has come :)</p>
      </div>

      <div class="plans-cards pt-3 my-3" id="main_body">
       
<div class="featurette-lead featurette-lead-center mb-6">
        <p class="alt-lead text-center text-gray mb-6 mx-auto">Nothing.</p>
      </div>

</div>

      </div>


    </div>

    

  </div>
</div>

<hr>

  <div class="modal-backdrop js-touch-events"></div>

  </div>
<!-- start footer -->
<div class="container site-footer-container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links">
      <li>© <span> Copyright:</span></li>
        <li><a href="Mailto:14300240007@fudan.edu.cn" data-ga-click="Footer, go to terms, text:terms">Tianxiao Hu</a></li>
        <li><a href="Mailto:14300240009@fudan.edu.cn" data-ga-click="Footer, go to privacy, text:privacy">Haohan Zhang</a></li>
        <li><a href="Mailto:15307130385@fudan.edu.cn" data-ga-click="Footer, go to security, text:security">Jingyuan Liu</a></li>
      <span>  Group: Glutton;</span></li> Course Project #1 for Introduction to Database Systems(COMP130010.03)@ Fudan University, 2017 Spring. <span>Professor:</span></li>
      <li><a href="http://www.cs.fudan.edu.cn/?page_id=2439###" data-ga-click="Footer, go to status, text:status">Wei Wang</a>;</li>  
    </ul>
  </div>
</div>
<!-- end footer -->

  

  <div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <svg aria-hidden="true" class="octicon octicon-swal" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path></svg>
    <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
    You can't perform that action at this time.
  </div>


    <script crossorigin="anonymous" src="../static/js/main_1.js"></script>
    <script crossorigin="anonymous" src="../static/js/main_2.js"></script>
    <script crossorigin="anonymous" src="../static/js/main_3.js"></script>
    

  <div class="facebox" id="facebox" style="display:none;">
  <div class="facebox-popup">
    <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
    </div>
    <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
  </div>
</div>
<link crossorigin="anonymous" href="../static/css/sweetalert.css" media="all" rel="stylesheet">
<script src="../static/js/sweetalert.min.js"></script> 

<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/view_history.js"></script>

<!-- EDIT BLOCK : START-->

<div id="faceboxdiv" class="column" style="display: none">
<div class="Subhead mt-0 mb-0">
  <h2 id="edit_info" class="Subhead-heading">Comment this order</h2>
</div>
        <dl class="form-group">
          <dt><label>Write your comment here!</label></dt>
          <dd><textarea class="form-control" id="dish_name" size="30" onblur="set_comment(this)" placeholder="Write your comment here!" type="text" value=""></textarea></dd>
        </dl>
      <p><button onclick="submit_comment()" class="btn" id="change_dish">Submit comment</button></p>
</div>

<!-- EDIT BLOCK : END-->


</body></html>